@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html { 
  font-size: 62.5%; 
}
* {
  font-family: 'Rubik', sans-serif;
}
body {
  font-family: 'Rubik', sans-serif;
  background-color: #1B1B2D;
  color: #E9E9EA;
  font-size: 1.5rem;
  overflow-x: hidden;
}
.wrapper {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 2rem;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated {
  -webkit-transition: .3s;
  transition: .3s;
}
.shadow {
  -webkit-box-shadow: 0px 3px 8px 1px rgba(7,8,31,0.9);
  -moz-box-shadow: 0px 3px 8px 1px rgba(7,8,31,0.9);
  box-shadow: 0px 3px 8px 1px rgba(7,8,31,0.9);
}
a {
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}
.text-center {
  text-align: center;
}
.margin-center {
  text-align: center;
}
.round-corners {
  border-radius: 1.5rem;
}
.responsive-img img {
  width: 100%;
  height: auto;
}
/*********************** SPACINGS ***********************/
.padding5 {
  padding: 0.5rem 0;
}
.padding10 {
  padding: 1rem 0;
}
.padding15 {
  padding: 1.5rem 0;
}
.padding20 {
  padding: 2rem 0;
}
.padding40 {
  padding: 4rem 0;
}
.padding60 {
  padding: 6rem 0;
}
.margin5 {
  margin: 0.5rem 0;
}
.margin10 {
  margin: 1rem 0;
}
.margin15 {
  margin: 1.5rem 0;
}
.margin20 {
  margin: 2rem 0;
}
.margin30 {
  margin: 3rem 0;
}
.margin40 {
  margin: 4rem 0;
}
.margin60 {
  margin: 6rem 0;
}
.margin-top15 {
  margin-top: 1.5rem;
}
/*********************** FONTS ***********************/
h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}
.weight500 {
  font-weight: 500;
}
.weight400 {
  font-weight: 400;
}
.font10 {
  font-size: 1rem;
}
.font11 {
  font-size: 1.1rem;
}
.font13 {
  font-size: 1.3rem;
}
.font14 {
  font-size: 1.4rem;
}
.font20 {
  font-size: 2rem;
}
.font22 {
  font-size: 2.2rem;
}
.font30 {
  font-size: 3rem;
}
.font35 {
  font-size: 3.5rem;
}
.font40 {
  font-size: 4rem;
}





p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
}


/*********************** COLORS ***********************/
a {
  color: #2A3348;
}
.button a {
  background-color: #EDF2F6;
}
.color-white {
  color:#DDDDE0;
}
.color-grey {
  color: #767681;
}
.color-greyer {
  color: #B5B6DE;
}
.color-main {
  color: #38F99C;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: #767681;
}
.bg-dark {
  background-color: #27273D;
}
.bg-darker {
  background-color: #1B1B2D;
}
.bg-main {
  background-color: #38F99C;
}


.color-red {
  color: #FB5D59;
}
.color-blue {
  color: #33D2FD;
}
.color-yellow {
  color: #F9BA00;
}
.color-green {
  color: #10CAB7;
}

/* Header */
.header {
  width: 100%;
  height: 12vh;
  padding-top: 6.7vh;
  min-height: 5rem;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  padding: 2rem 1rem 2rem 2rem;
  cursor: pointer;
}










/* Tabbar */
ion-tab-bar {
  height: 10vh;
  min-height: 5rem;
  width: 100%;
  border: 0;
  background-color: #27273D;
}
ion-tab-button {
  background-color: #27273D;
  margin: 0.6rem;
  height: 8vh;
  border-radius: 0.5rem;
}
ion-tab-bar{
  --color-selected: #F9BA00 !important; 
}
ion-tab-button.tab-selected {
  background-color: #1B1B2D;
}





/*********************** HOME ***********************/
ion-content {
  --ion-background-color: #1B1B2D;
}

/* Movie Counter */
.counterBox {
  width: 100%;
  height: 14vh;
  min-height: 10rem;
  flex-direction: column;
  padding-top: 2vh;
  margin-top: 3.4vh;
}
.counterBox p:nth-child(1) {
  font-size: 4.5rem;
  margin-bottom: 0.5vh;
}








/* Swiper */
.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


/* Random Movies */
.swipper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swipper-header img {
  width: 0.5rem;
  height: 1rem;
  margin-bottom:1.5rem;
}
.swipper-header h4 {
  margin-bottom:1.5rem;
}
.random-movies {
  padding-left: 2rem;
  margin: 0 auto;
  max-width: 760px;
  overflow-x: hidden;
}
.random-movies .swiper-slide  {
  min-width: 8rem !important;
  min-height: 17rem;
}
.poster img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  flex-basis: 25%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(7,8,31,0.9);
  -moz-box-shadow: 0px 3px 8px 1px rgba(7,8,31,0.9);
  box-shadow: 0px 3px 8px 1px rgba(7,8,31,0.9);

}
.info p {
  margin: 0px;
  padding: 0px;
  line-height: 2rem;
}
.other-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.other-info p:nth-child(1) {
  flex-basis: 65%;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating {
  flex-basis: 35%;
}
.rating img {
  margin-bottom: 0.4rem;
}






/* Last Watched */
.movie-box-wide {
  width: 100%;
  height: 15.5vh;
  margin-top: 4.5vh;
  min-height: 12rem;
  display: flex;
  border-radius: 0.5rem;
  cursor: pointer;
}

.movie-wide-poster {
  width: 40%;
  height: 15.5vh;
}
.movie-wide-poster img {
  position: relative;
  top: -2.2vh;
  height: 15.5vh;
  width: auto;
  border-radius: 0.5rem;
}
.movie-wide-info {
  width: 60%;
  height: 15.5vh;
}
.movie-wide-info p {
  line-height: 2rem;
}
.movie-wide-rating {
  display: flex;
}
.movie-wide-rating img {
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
}



/* Search */
input {
  width: 100%;
  height: 5.5rem;
  border-radius: 0.5rem;
  border: 0px;
  background-color: #27273D;
  margin-top: 2.2vh;
  padding:0 8% 0 13%;
  color: #F7C000;
  font-size: 1.4rem;
  outline: 0px;
  background-image: url('../assets/search.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 1.3rem;
  margin-bottom: 3vh;

}
::placeholder {
  color: #EAEAEC;
  font-size: 1.4rem;
}



/* Category Box */
.category-swiper {
  padding-left: 2rem;
  margin: 0 auto;
  max-width: 760px;
  overflow-x: hidden;
}
.category-box {
  width: 100%;
  min-height: 6rem;
  border-radius: 0.5rem;
}





/*********************** MOVIE MODAL ***********************/
ion-modal {
  --ion-background-color: #1B1B2D;
}
.movie-detail-poster {
  width: 86vw;
  height: auto;
  margin: 1.4vh 0 2vh 0;
  border-radius: 1rem;
}
.movie-detail-poster img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.ion-page {
  display: block!important;
  overflow-y: auto;
}
.movie-detail-rating img {
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
}
.movie-detail-genre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plot-text {
  line-height: 2rem;
  margin-bottom: 1rem;
}
.ion-page {
  padding-bottom: 10vh;
}
















.all-movie-box {
  width: 30%;
  margin: 1.5%;
  float: left;
}
.all-wrapper {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 1.5rem;
}













.loader {
  margin: 0 auto;
  position: relative;
  top: 15vh;
  font-size: 10px;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #1B1B2D;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
